* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 17, 255, 0.259);
}

header {
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 10, 152);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.title {
  margin: 15px;
  color: rgb(0, 10, 152);
  font-size: 30px;
}

.player-divim {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 89, 0.239);
  border-radius: 6px;
}

.player-divim div {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(0, 10, 152);
  color: white;
  border-radius: 5px;
  padding: 8px;
  width: 180px;
  height: 200px;
  font-size: 12px;
}

.search-form {
  margin: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  height: 300px;
  padding: 20px;
  background-color: rgba(0, 0, 89, 0.239);
  color: white;
  border-radius: 10px;
}

.search-btn {
  background-color: rgb(0, 10, 152);
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: rgba(0, 10, 152, 0.507);
  color: white;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: 20px;
}

th {
  background-color: rgb(0, 10, 152);
  color: white;
  padding: 10px;
  border: 0;
  border-right: 1px solid white;
}

td {
  padding: 10px;
  border: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.36);
  border-bottom: 1px solid rgba(255, 255, 255, 0.407);
}

.btn-add-team {
  background-color: rgba(228, 1, 1, 0.67);
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.btn-add-team:hover {
  background-color: rgba(228, 1, 1, 0.601);
  color: white;
  box-shadow: 3px 3px 5px rgba(208, 0, 0, 0.677);
}
